## Basic Pandas Practice
### Part 1

The file "Purchased_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [1]:
import pandas as pd

In [5]:
#Write your code here
df_data = pd.read_csv('Data/Purchase_Data.csv')
df_data.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0

Use the dtypes attribute to view how each column is stored

In [7]:
#Write your code here
df_data.dtypes

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

Slice the first two columns using .loc and store the result in a variable called result_1.

In [36]:
#Write you code here
result_1 = df_data.loc[:,['invoice_number','invoice_time']]
#result_1

Slice the first two rows using .loc and store the result in a variable called result_2.

In [19]:
#Write you code here
result_2 = df_data.loc[0:1]
#result_2

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [21]:
#Write your code here
result_3 = df_data.loc[0:3,['invoice_number', 'invoice_time', 'store_id', 'product_id', 'category_id']]
#result_3

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [25]:
#Write your code here
result_4 = df_data.loc[[0,4,6],['invoice_time', 'price']]
result_4

    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

Store the number of rows in a variable called num_rows.

In [26]:
#Write you code here
num_rows = df_data.shape[0]
num_rows

5382

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [40]:
#Write your code here

#df_data.loc[num_rows-1]

df_data.tail(1)

#df_data.loc[num_rows - 1, :]

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
5381,2.020000e+11,9/5/15 23:38,G619,23030206,210101,1.0,2.0

### Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [39]:
#Write your code here
avg_price = df_data['price'].mean()
max_price = df_data['price'].max()

print(avg_price)
print(max_price)

3.1920522110741354
6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [45]:
#Write you code here
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()
print(avg_price)
print(avg_num_items)

3.1920522110741354
1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [65]:
#Write your code here
df_data['total'] = df_data['price'] * df_data['num_item']
df_data.head(20)

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price,total
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0,6.0
5,2.020000e+11,7/15/15 14:10,G816,7000300,210101,1.0,2.0,2.0
6,2.020000e+11,7/15/15 15:28,G816,7000126,210301,1.0,2.0,2.0
7,2.020000e+11,7/15/15 16:20,G816,7308017,210101,1.0,3.5,3.5
8,2.020000e+11,7/15/15 16:22,G816,15000231,70301,1.0,2.0,2.0
9,2.020000e+11,7/15/15 16:24,628,7000300,210101,1.0,2.0,2.0
10,2.020000e+11,7/15/15 16:25,G816,7070884,70203,3.0,2.0,6.0
11,2.020000e+11,7/15/15 16:39,G816,7070884,70203,1.0,2.0,2.0
12,2.020000e+11,7/15/15 16:39,G816,7070884,70203,1.0,2.0,2.0
13,2.020000e+11,7/15/15 16:39,G816,7071096,70201,1.0,5.0,5.0
14,2.020000e+11,7/15/15 16:39,G816,7071096,70201,1.0,5.0,5.0
15,2.020000e+11,7/15/15 17:11,G816,7000126,210301,1.0,2.0,2.0
16,2.020000e+11,7/15/15 17:27,628,7000133,210301,1.0,3.0,3.0
17,2.020000e+11,7/15/15 18:06,628,7000300,210101,1.0,2.0,2.0
18,2.020000e+11,7/15/15 18:21,G816,7070884,70203,1.0,2.0,2.0
19,2.020000e+11,7/15/15 18:21,G816,7071133,70301,1.0,2.0,2.0

What is the average price of the three most expensive purchases?

In [55]:
#Write your code here
df_data_sorted = df_data.sort_values(by = 'total', inplace = False, ascending=[False])[0:3]
#print(df_data_sorted)
print(df_data_sorted['price'].mean())

# df_data.reset_index()

2.0

How many different products are there?

In [57]:
#Write your code here
len(df_data['product_id'].unique())

53

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [66]:
#Write your code here
totd = df_data['total'].describe()
total_mean = totd[1]
total_median = totd[5]

print(total_mean)
print(total_median)
print(total_mean - total_median)

3.9318078781127945
3.0
0.9318078781127945

Use the drop() method to delete the column total from the dataframe df_data.

In [67]:
#Write your code here
df_data.drop('total', axis=1, inplace=True)

Let's dig a little deeper into the data set and answer some basic question.

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [69]:
#Write your code here
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])
df_data.dtypes

invoice_number           float64
invoice_time      datetime64[ns]
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
dtype: object

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [75]:
#Write your code here
df_data['DOW'] = df_data['invoice_time'].dt.dayofweek
df_data['Month'] = df_data['invoice_time'].dt.month
df_data.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price,DOW,Month
0,2.020000e+11,2015-07-15 10:45:00,G816,7000300,210101,1.0,2.0,2,7
1,2.020000e+11,2015-07-15 12:16:00,G816,7070884,70203,1.0,2.0,2,7
2,2.020000e+11,2015-07-15 12:16:00,G816,7070884,70203,1.0,2.0,2,7
3,2.020000e+11,2015-07-15 12:16:00,G816,7070891,70401,1.0,6.0,2,7
4,2.020000e+11,2015-07-15 12:16:00,G816,7090363,70401,1.0,6.0,2,7

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [84]:
#Write your code here
num_purchases_wed = df_data['DOW'].value_counts()[2] # this isn't correct
num_purchases_wed

959

In [82]:
df_data['DOW'].value_counts()

2    959
4    906
3    828
5    800
1    666
0    616
6    607
Name: DOW, dtype: int64