## Pandas Filtering Practice

In this practice, we will explore data on the progression of salaries of students graduating from various schools. The file "salaries-by-region.csv" gives this information broken down by region and the the file "salaries-by-college-type.csv" gives this information broken by school type.

In [ ]:
def Get_Dict_Region(file_location):
    
    """Take as input the file location of salaries-by-region.csv
    and returns a dictionary with a key for each school whose value is the region
    of that school."""
    
    df_region = pd.read_csv(file_location)
    
    #Write your code here

    D_region = {}

    return D_region

$--------------------------------------------------$

Write the function Get_Dict_Region, which reads the file "salaries-by-region.csv" into a dataframe called df_region and then uses iterrows() to construct a dictionary where there is a key for each school and it's value is the region.  Return this dictionary.

In [ ]:
import pandas as pd

file_location = "Data/salaries-by-region.csv"
D_regions = Get_Dict_Region(file_location)

Read in the file "salaries-by-college-type.csv" into a a dataframe called df_college_type and use dtype to check the how each column is stored. Use "N/A" as the na_values when you read in the dataframe.

In [ ]:
#Write your code here
df = pd.read_csv("Data/salaries-by-college-type.csv", na_values=["N/A"])
df.head(1)

In [ ]:
def str_to_num(s):
    if type(s) == str:
        return float(s.replace(",", "").replace("$", ""))
    else:
        return s
for colname in df.columns[2:]:
    df[colname] = df[colname].apply(str_to_num)
# df["Mid-Career 10th Percentile Salary"].apply(str_to_num)
df.head()

How many colleges are represented?

In [35]:
#Write your code here
df["School Name"].nunique()

249

How many school-dept pairs have a starting salary greater than 65K?

In [38]:
#Write your code here
df.loc[df["Starting Median Salary"] >= 65000, ]

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,72200.0,126000.0,76800.000000,99200.0,168000.0,220000.0
1,California Institute of Technology (CIT),Engineering,75500.0,123000.0,44250.649351,104000.0,161000.0,NaN
2,Harvey Mudd College,Engineering,71800.0,122000.0,44250.649351,96000.0,180000.0,NaN
87,Princeton University,Ivy League,66500.0,131000.0,68900.000000,100000.0,190000.0,261000.0

What is the average median starting salary among these schools?

In [40]:
#Write your code here
df.loc[df["Starting Median Salary"] >= 65000, "Starting Median Salary"].mean()

71500.0

What is the median mid career 75th percentile salary of party schools in a Southern or Western region?

In [ ]:
#Write your code here

What fraction of California schools have a starting median starting salary above 50K?

In [ ]:
#Write your code here